{% if results.paginator.num_pages > 1 %}
    <div class="pagination mt-3 d-flex justify-content-center" id="pagination-container">
        <ul class="pagination">
            {% comment %} Sử dụng data-page để AJAX có thể bắt link {% endcomment %}
            {% if results.has_previous %}
                <li class="page-item"><a class="page-link ajax-page-link" href="#" data-page="1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link ajax-page-link" href="#" data-page="{{ results.previous_page_number }}">«</a></li>
            {% endif %}

            {% for num in results.paginator.page_range %}
                {% if num == results.number %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num >= results.number|add:-2 and num <= results.number|add:2 %}
                    <li class="page-item"><a class="page-link ajax-page-link" href="#" data-page="{{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if results.has_next %}
                <li class="page-item"><a class="page-link ajax-page-link" href="#" data-page="{{ results.next_page_number }}">»</a></li>
                <li class="page-item"><a class="page-link ajax-page-link" href="#" data-page="{{ results.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}