{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quản Lí dây chuyền Sản xuất{% endblock %}</title>
    <!-- Basic CSS for styling, you might want to replace with a framework like Bootstrap -->
    <link rel="stylesheet" href="{% static 'production_data/css/styles.css' %}">
</head>
<script src="{% static 'production_data/js/dropdown.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>
    <div class="header">
        <h1>QUẢN LÝ DÂY CHUYỀN SẢN XUẤT</h1>
        <div class="user-info">
            {% if user.is_authenticated %}
                <div class="dropdown">
                <button class="dropbtn" onclick="toggleDropdown(event, 'userDropdown')">
                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="avatar">
                    {% else %}
                        <img src="{% static 'production_data/images/default-avatar.png' %}" alt="Avatar" class="avatar">
                    {% endif %}
                    <span class="arrow">▼</span>
                </button>
                <div class="dropdown-content" id="userDropdown">
                    <form action="{% url 'logout' %}" method="post" style="margin:0;">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Đăng xuất</button>
                    </form>
                    <div class="dropdown-item"><a href="{% url 'production_setting' %}">Tài khoản</a></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <aside class="sidebar">
            {% include 'production_data/includes/sidebar.html' %}
        </aside>
       <main class="content">
            {% include 'production_data/includes/messages.html' %}
            {% block content %}
            <!-- Content will be injected here -->
            {% endblock %}
        </main>
    </div>
     {% block extra_js %}
    <!-- Các script bổ sung sẽ được chèn vào đây -->
    {% endblock %}
</body>
<footer>
    <div class="footer-content">
    <p>&copy; 2025 Quản Lý Dây Chuyền Sản Xuất. All rights reserved.</p>
    </div>
</footer>
</html>