<table class="data-table">
    <thead>
        <tr>
            <th>Model</th>
            <th>PC Plan (Tổng)</th>
            <th>PRO Plan (Tổng)</th>
            <th>Result (Tổng)</th>
            <th>Chênh lệch PC (Tổng)</th>
            <th>Chênh lệch PRO (Tổng)</th>
            <th>Tỷ lệ thành tích(%)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in production_by_type_summary %}
        <tr>
            <td>{{ item.model }}</td>
            <td>{{ item.total_pc_plan|default:0 }}</td>
            <td>{{ item.total_pro_plan|default:0 }}</td>
            <td>{{ item.total_result|default:0 }}</td>
            <td>{{ item.total_pc_diff|default:0 }}</td>
            <td>{{ item.total_prod_diff|default:0 }}</td>
            <td>{{ item.total_completion_rate|floatformat:2 }}%</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">Không có dữ liệu.</td></tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if production_by_type_summary.has_previous %}
        <a hx-get="?table=type&page=1" hx-target="#prodTypeTableContainer">&laquo;</a>
        <a hx-get="?table=type&page={{ production_by_type_summary.previous_page_number }}" hx-target="#prodTypeTableContainer">‹</a>
    {% endif %}

    {% for num in production_by_type_summary.paginator.page_range %}
        {% if production_by_type_summary.number == num %}
            <span class="current">{{ num }}</span>
        {% elif num > production_by_type_summary.number|add:'-5' and num < production_by_type_summary.number|add:'5' %}
            <a hx-get="?table=type&page={{ num }}" hx-target="#prodTypeTableContainer">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if production_by_type_summary.has_next %}
        <a hx-get="?table=type&page={{ production_by_type_summary.next_page_number }}" hx-target="#prodTypeTableContainer">›</a>
        <a hx-get="?table=type&page={{ production_by_type_summary.paginator.num_pages }}">&raquo;</a>
    {% endif %}
</div>
